#root {
  width: 100% !important;
  height: 100% !important;
  margin: 0 auto;
  padding: 2rem;
}

html, body, :root {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex-grow: 1;
}
